.admin-nav-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.admin-nav-container {
  padding: 1rem;
  height: 100vh;
  background-color: white;
}
.admin-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.admin-nav-item.active {
  background: rgba(64, 123, 255, 0.3);
  color: rgba(64, 123, 255, 1);
}
.admin-nav-item p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .admin-nav-container {
    padding: 0;
  }
  .admin-nav-container ul {
    flex-direction: column;
    width: 30.4rem;
  }

  .admin-nav-item {
    border-radius: 0;
    padding: 2.5rem 18rem 3.1rem 4rem;
    border-bottom: 1px solid #e1e1e1;
  }
}
